.landing-background
{
background-image: url(../img/vvv.jpg);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-repeat:no-repeat;
background-attachment: fixed;
}
div.big {
  background-color: #dff5f5;
  min-width: 100%;
  min-height: 100%;
  zoom: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  

}
div.big99 {
  background-image: url("../img/web.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
div.big11 {
  background-image: url("../img/web.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
  div.big0m {
    background-image: url("../img/web55.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    div.big010m {
      background-image: url("../img/infog.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      }
    div.big0az {
      background-image: url("../img/web0b.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      }big010m
      div.big0at {
        background-image: url("../img/web0000.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        }
        div.big0at1 {
          background-image: url("../img/trait.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
          }
      div.big0ae {
        background-image: url("../img/web0bb.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        } 
        div.big0au {
          background-image: url("../img/web03.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
          } 
        div.big0ar {
          background-image: url("../img/wwebb.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
          } 
          div.big0ao {
            background-image: url("../img/web1b.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            } 
            div.big0as {
              background-image: url("../img/evo.png");
              background-repeat: no-repeat;
              background-size: cover;
              background-attachment: fixed;
              } 
             
            div.big0aq {
              background-image: url("../img/web2b.png");
              background-repeat: no-repeat;
              background-size: cover;
              background-attachment: fixed;
              } 
            div.big0ap {
              background-image: url("../img/web1b.png");
              background-repeat: no-repeat;
              background-size: cover;
              background-attachment: fixed;
              } 
          div.big0ai {
            background-image: url("../img/wiwi.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            } 
    div.bigla {
      background-image: url("../img/la.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      }
  div.big00 {
    background-image: url("../img/web00.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    div.big01 {
      background-image: url("../img/web01.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      }
  div.big17 {
    background-image: url("../img/web7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    div.big18 {
      background-image: url("../img/web8.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      }
      div.big19 {
        
        background-image: url("../img/web9.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
        height: 450px;
        
      }
      div.big21 {
        
        background-image: url("../img/web11.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
        height: 450px;
        
      }
      div.big22 {
        
        background-image: url("../img/web12.png");
        background-repeat: no-repeat;
       
       
        height: 450px;
        
      }
     
      div.big23 {
        
        background-image: url("../img/web13.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
        height: 450px;
        
      }
      div.big24 {
        
        background-image: url("../img/web14.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
        height: 450px;
        
      }
      div.big25 {
        
        background-image: url("../img/web15.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
        height: 450px;
        
      }
      div.big26 {
        
        background-image: url("../img/web16.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
        height: 450px;
        
      }
      div.big27 {
        
        background-image: url("../img/web9.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
        height: 450px;
        
      }
      div.big28 {
        
        background-image: url("../img/web18.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
        height: 450px;
        
      }
     
      
      div.big29 {
        
        background-image: url("../img/web19.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
        height: 450px;
        
      }
      div.big30 {
        
        background-image: url("../img/web10.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
        height: 450px;
        
      }
      div.big31 {
        
        background-image: url("../img/rein.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
        height: 450px;
        
      }

      div.big20 {
        
        background-image: url("../img/web20.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
        height: 450px;
        
      }
      div.bg19 {
       
          padding: 0 9rem;
          position: absolute;
          height: 80px;
          width: 1100px;
          top: 200px;
          border-radius: 20%;
          padding: 5px;
          margin-right: 80px;
         right:100px;
       
      }
      div.bg20 {
       
        padding: 0 9rem;
        position: absolute;
        height: 80px;
        width: 1000px;
        top: 140px;
        border-radius: 20%;
        padding: 5px;
        margin-right: 80px;
       right:100px;
     
    }
    div.bg21 {
       
      padding: 0 9rem;
      position: absolute;
      height: 130px;
      width: 1000px;
      top: 120px;
      border-radius: 20%;
      padding: 5px;
      margin-right: 80px;
     right:100px;
   
  }div.bg22 {
       
    padding: 0 9rem;
    position: absolute;
    height: 130px;
    width: 1000px;
    top: 162px;
    border-radius: 20%;
    padding: 5px;
    margin-right: 80px;
   right:100px;
 
}
div.bg23 {
       
  padding: 0 9rem;
  position: absolute;
  height: 130px;
  width: 1000px;
  top: 145px;
  border-radius: 20%;
  padding: 5px;
  margin-right: 80px;
 right:100px;

}
div.bg24 {
       
  position: absolute;
    height: 180px;
    width: 1050px;
    top:149px;
    bordr-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:-5px;  

}
div.bg214 {
       
  position: absolute;
    height: 180px;
    width: 1050px;
    top:160px;
    bordr-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:2px;  

}
div.bg25 {
       
  padding: 0 9rem;
  position: absolute;
  height: 130px;
  width: 1000px;
  top: 166px;
  border-radius: 20%;
  padding: 5px;
  margin-right: 80px;
 right:120px;

}
  
 


  div.big15 {
    background-image: url("../img/web5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    div.big16 {
      background-image: url("../img/web6.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      }
  div.big14 {
    background-image: url("../img/web4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
  div.big13 {
    background-image: url("../img/web3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
  div.big12 {
    background-image: url("../img/web1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
div.big1 {
  background-color: #e7f1f1;
  background-size: "cover";
}
p {
  display: inline-block;
}
img{
  max-width: 100%;
  margin-top: 20%;
}
div.form{   background-color: #f6f6f6;
  border-top: 5px solid #dce8f1;
  padding: 20px;
  text-align: center;
  -webkit-border-radius: 0 0 20px 20px;
  border-radius: 0 0 10px 10px;
  

}

.user_card {
  height: 620px;
  width: 750px;
  margin-top: auto;
  margin-bottom: auto;
  background: #dff5f5;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 240px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;

}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;

  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #447EFF !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 7rem;
}


.login-container {
  margin-top: 10%;
  border: 1px solid #CCD1D1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 50%;
}

.ads {
  background-color: #00BFBA;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.ads h4 {
  margin-top: 20%;
}

#fl {
  font-weight: 600;
}

#sl {
  font-weight: 100 !important;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  border-radius: 50%;
  /* animation: mymove 2s infinite; */
}

@keyframes mymove {
  from {border: 1px solid #F2F3F4;}
  to {border: 8px solid #F2F3F4;}
}

.login-form {
  padding: 15px;
}

.form-control {
  font-size: 14px;
}
.log_container {
  padding: 0 8rem;
}
.log_btn {
  width: 100%;
  background: #00BFBA !important;
  color: white !important;
}

.lo_container {
  padding: 0 3rem;
}
.lo_btn {
  width: 100%;
  background: #447EFF !important;
  color: white !important;
}

.se_container {
  padding: 0 2rem;
}
.se_btn {
  width: 100%;
  background: #00BFBA !important;
  color: white !important;
}


.login-block{
float:left;
width:100%;
padding : 50px 50px;
}
.banner-sec{background:url(https://cdn.pixabay.com/photo/2021/02/19/02/58/doctor-6029079_960_720.png  )  no-repeat left bottom; background-size:cover; min-height:300px; border-radius: 0 10px 10px 0; padding:0;}
.carousel-inner{border-radius:0 8px 8px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text a{color:#01aaa4;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #00BFBA;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#797979; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-in{background: #00BFBA; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}


.bran_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;

  padding: 10px;
  text-align: center;
}
.bran_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}


.login-page{
	height:570px;
	width:500px;
	background:rgba(0 0 0 .10);
	box-shadow:lightblue 0px 6px 10px 5px;
	margin:auto;
	margin-top:90px;
	border-radius:5px;
	margin-bottom:50px;
}
.image-conteiner{
	height:130px;
}
.image{
	height:350spx;
	width:350px;
	transform:translate(95px,-50px);
	padding:0px;
  
}
.image img{
	height:150px;
	width:100px;
  -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-20px);
  }
}

.title{
	height:80px;
	text-align:center;
  color:#2365f3;}
.lin_container {
  padding: 0 8rem;
}
.lin_btn {
  width: 100%;
  background:  #00BFBA !important;
  color: white !important;
}

.login__image {
  -o-object-fit: contain;
     object-fit: contain;
}

.login__container,
.login__row {
  min-height: 100vh;
}

.login__card {
  background-color: #f6f6f6;
}
.gol_container {
  padding: 0 6rem;
}
.gol_btn {
  width: 100%;
  background: #00BFBA !important;
  color: white !important;
}
.register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}

#myTabContent 
{
position: relative;
width: 100%;
height: 250px;
z-index: 1;
  overflow: hidden;
}

@keyframes page {
  0% {
      left: 0;
  }
  50% {
      left: 10px;
  }
  100% {
      left: 0;
  }
}

@-moz-keyframes page {
  0% {
      left: 0;
  }
  50% {
      left: 10px;
  }
  100% {
      left: 0;
  }
}

@-webkit-keyframes page {
  0% {
      left: 0;
  }
  50% {
      left: 10px;
  }
  100% {
      left: 0;
  }
}

@-ms-keyframes page {
  0% {
      left: 0;
  }
  50% {
      left: 10px;
  }
  100% {
      left: 0;
  }
}

@-o-keyframes page {
  0% {
      left: 0;
  }
  50% {
      left: 10px;
  }
  100% {
      left: 0;
  }
}


.register {
  background: -webkit-linear-gradient(right,  #b9e9e9, #02c7c0);
  margin-top: 8%;
  padding: 5%;
}

.register-left {
  text-align: center;
  color: #fff;
  margin-top: 4%;
}

.register-right {
  background: #f8f9fa;
  border-top-left-radius: 0% 50%;
  border-bottom-left-radius: 0% 50%;
}

.register-heading {
  text-align: center;
  color:  #00BFBA;
}
/* Custom Radio Button Start*/

.radiotextsty {
  color: #A5A4BF;
  font-size: 15px;
}

.customradio {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.customradio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 50%;
  border:1px solid #BEBEBE;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.customradio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.customradio .checkmark:after {
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #38b0e7;
}
.ses_container {
  padding: 0 7rem;
}
.ses_btn {
  width: 100%;
  background: #00BFBA !important;
  color: white !important;
}



.newsletter {
  position: relative;
  padding-top: 40px;
  padding-left: 220px;
  flex-grow: 1;
}

.newsletter svg {
  position: absolute;
  z-index: 0;
  top: -90px;
  left: 90px;
  fill: #25dbd5;
}

.newsletter .newsletter-title {
  margin-bottom: 40px;
  font-family: IMFell DW,Times,Georgia,serif;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 4.0625rem;
  letter-spacing: -.02em;
  line-height: .9230769231;
  position: relative;
  z-index: 999;
}

.newsletter .newsletter-form {
  position: relative;
  max-width: 395px;
  margin-top: 73px;
  z-index: 999;
}

.newsletter .newsletter-form input {
  height: 55px;
  width: 100%;
  padding: 18px 135px 17px 60px;
  font-family: IM Fell English,Times,Georgia,serif;
  font-weight: 400;
  font-style: italic;
  border: 0 none;
  border-radius: 20px;
  outline: none;
  background-color: #fff;
  color: #1107ff;
  font-size: 1.125rem;
  line-height: 3;
}

.newsletter .newsletter-form button {
  font-family: Sofia Pro,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 116px;
  height: 36px;
  transition: background-color .3s cubic-bezier(.165,.84,.44,1);
  border-radius: 15px;
  background-color: #00BFBA;
  color: #fff;
  font-size: .875rem;
  line-height: 1;
  position: absolute;
  right: 9px;
  bottom: 9px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}


.slidein {
  animation-duration: 1.5s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left:100%;
    width:0%
  }

  to {
    margin-left:0%;
    width:100%;
  }
}



  div.mal{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top: 100px;
    border-radius: 0%;
    padding: 90px;
    font-size: 20px;      
  }
  div.mall{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top: 200px;
    border-radius: 0%;
    padding: 90px;
    font-size: 20px;      
  }
  div.nall{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top: 30px;
    border-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    right:125px;    
  }
  div.nal{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top: 170px;
    border-radius: 10%;
    padding: 90px;
    font-size: 20px;  
    
    left:700px;   
  }
  div.ll{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top: 1px;
    border-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:90px;   
  }
  div.kk{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top: 150px;
    border-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:150px;   
  }
  div.jj{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top: 150px;
    border-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:15px;   
  }
  div.j1j{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top: 150px;
    border-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:-5px;   
  }
  div.j2j{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top: 150px;
    border-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:2px;   
  }
  div.jk{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top: 100px;
    border-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:-5px;   
  }
  div.jm{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top: 258px;
    border-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:156px;   
  }
  div.ok{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top:60px;
    bordr-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:110px;   
  }
  div.ap{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top:185px;
    bordr-radius: 0%;
    padding: 1px;
    font-size: 20px;  
    
    left:-5px;   
  }
  div.gg{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top:160px;
    bordr-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:1px;   
  }
  div.g1g{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top:160px;
    bordr-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:12px;   
  }
  div.gia{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top:-40px;
    bordr-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    right:375px;   
  }
  div.ggai{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top:45px;
    bordr-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:350px;   
  }
  div.ggii{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top:45px;
    bordr-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    right:380px;   
  }
  div.ggii1{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top:15px;
    
    padding: 90px;
    font-size: 20px;  
    
    right:420px;   
  }
  div.ggii2{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top: 10px;
    
    padding: 90px;
    font-size: 20px;  
    
    right:290px;   
  }
  div.ggii3{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top: 10px;
    
    padding: 90px;
    font-size: 20px;  
    
    right:460px;   
  }
  div.ggg{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top:155px;
    bordr-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:140px;   
  }
 
  div.gg1{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top:19px;
    bordr-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:160px;   
  }
  div.g1{
  
    position: absolute;
    height: 180px;
    width: 1050px;
    top:50px;
    bordr-radius: 0%;
    padding: 90px;
    font-size: 20px;  
    
    left:120px;   
  }
  .profile-img1 {
    text-align: center;
  }
  
  .profile-img1 img {
    border-radius: 0%;
    margin-top: 5%;
  }


  